#map,
#map .appML_page,
#map_wrapper,
#map_wrapper .AppManagerPage,
#map .canvas
{
  height: 100%;
}

nav ul li a {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 60px;
}

nav .bank {
  background-image: url("/images/icons/natwest.png");
}

nav .bar {
  background-image: url("/images/icons/bar.png");
}

nav .block {
  background-image: url("/images/icons/uwe.png");
}

nav .cafe {
  background-image: url("/images/icons/cafe.png");
}

nav .car-park {
  background-image: url("/images/icons/car-park.png");
}

nav .cash {
  background-image: url("/images/icons/cash.png");
}

nav .coffee {
  background-image: url("/images/icons/bar.png");
}

nav .supermarket {
  background-image: url("/images/icons/supermarket.png");
}

.infowindow h2 {
  margin: 0;
}

.infowindow p, .infowindow dl dt {
  margin-top: 5px;
}

.infowindow dl dt {
  font-weight: bold;
}